# Python / venv
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd

# Local database files
shared-local-instance.db

# Node.js
node_modules/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment Variables
# Never commit secrets!
.env
.env.*
!.env.example

# OS / Editor specific
.DS_Store
.vscode/

# Docker
# If you have local docker build files you want to ignore
# docker/

# DynamoDB Local files
.dynamodb/

# Tooling / Installers
aws/
awscliv2.zip

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
*.tfplan
.terraformrc
terraform.rc
.env

# Terraform Custom Layers
terraform/layers/
*.zip

# Ignore Terraform build artifacts anywhere in the project
**/layer_build/
**/generated_zips/
*.tfstate
*.tfstate.backup
.terraform/