---
- name: Basic configuration
  hosts: all
  become: true
  gather_facts: true
  tasks:
    - name: Update apt cache (on Debian-based systems)
      ansible.builtin.apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Update yum cache (on RedHat-based systems)
      ansible.builtin.yum:
        update_cache: yes
      when: ansible_os_family == "RedHat"

    - name: Install Git for Debian-based systems
      ansible.builtin.apt:
        name: git
        state: present
      when: ansible_os_family == "Debian"

    - name: Install Git for RedHat-based systems
      ansible.builtin.yum:
        name: git
        state: present
      when: ansible_os_family == "RedHat"

    - name: Install common packages
      ansible.builtin.package:
        name:
          - curl
          - wget
          - vim
          - htop
          - tree
        state: present

    - name: Create Ansible user with sudo privileges and key access only
      ansible.builtin.user:
        name: ansible
        groups: sudo
        shell: /bin/bash
        system: no
        create_home: yes
        state: present

    - name: Set up authorized key for Ansible user
      ansible.builtin.file:
        path: /home/ansible/.ssh
        state: directory
        owner: ansible
        group: ansible
        mode: '0700'

    - name: Copy authorized key to Ansible user
      ansible.builtin.authorized_key:
        user: ansible
        key: "{{ lookup('file', '~/.ssh/id_Ansible_ssh.pub') }}"
        state: present

    - name: Show disk space
      ansible.builtin.command: df -h
      register: disk_space

    - name: Display disk space output
      ansible.builtin.debug:
        msg: "{{ disk_space.stdout_lines }}"