name: CI/CD Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

env:
  NODE_ENV: test
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1
  AWS_REGION: ap-southeast-2
  ECR_BACKEND_REPO: backend-flask
  ECR_FRONTEND_REPO: frontend-react-js

jobs:
  security-and-quality:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - name: Install Security Tools
          run: pip install bandit ansible-lint
        
        - name: Run Bandit
          run: bandit -r ./backend -f json -o bandit-report.json || true
        
        - name: Lint Ansible Playbooks
          run: ansible-lint ./ansible/playbooks/*.yml

        - name: Setup Python & Flake8
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        - name: Run Flake8
          run: pip install flake8 && flake8 ./backend --count --select=E9,F63,F7,F82 --show-source --statistics

  test-app-dev:
    needs: security-and-quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start services (Build & Run)
        env:
          AWS_DEFAULT_REGION: "us-east-1"
          AWS_ACCESS_KEY_ID: "testing"
          AWS_SECRET_ACCESS_KEY: "testing"
          AWS_COGNITO_USER_POOL_ID: "us-east-1_xxxx"
          AWS_COGNITO_USER_POOL_CLIENT_ID: "testing"
          CONNECTION_STRING: "postgresql://postgres:password@db:5432/webapp"
          PROD_CONNECTION_STRING: "postgresql://postgres:password@db:5432/webapp"
          FRONTEND_URL: "http://localhost:3000"
          BACKEND_URL: "http://localhost:4567"
          PG_DATABASE: "webapp"
          PG_PASSWORD: "password"
        run: |
          docker compose up -d --build
          # We still keep a small sleep just to ensure the python container 
          # is actually running before we try to 'exec' into it.
          sleep 10
          docker compose ps

      - name: Run backend tests
        run: |
          docker compose exec -T backend-flask python -m pytest

      - name: Run frontend tests
        run: |
          docker compose exec -T -e CI=true frontend-react-js npm test -- --transformIgnorePatterns "node_modules/(?!axios)/"

      - name: Cleanup
        if: always()
        run: docker compose down -v

  build-and-scan:
    needs: test-app-dev
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          docker build -t app:latest ./backend

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'app:latest'
          format: 'table'
          exit-code: '1' 
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Push to ECR
        run: |
          REGISTRY="${{ steps.login-ecr.outputs.registry }}"
          docker tag app:latest $REGISTRY/${{ env.ECR_BACKEND_REPO }}:latest
          docker push $REGISTRY/${{ env.ECR_BACKEND_REPO }}:latest

  manage-infra:
    needs: test-app-dev
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    outputs:
      instance_id: ${{ steps.tf_output.outputs.instance_id }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: $AWS_REGION
      TF_VAR_db_password: ${{ secrets.PG_PASSWORD }}
      TF_VAR_allowed_ip: ${{ secrets.ALLOWED_IP }}
      TF_VAR_admin_ip: "0.0.0.0/0"

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      # A. IaC Security Scan (Tfsec)
      - name: Run Tfsec
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          working_directory: ./terraform

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -no-color

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve

      - name: Get Instance ID
        id: tf_output
        if: github.ref == 'refs/heads/main'
        run: |
          ID=$(terraform output -raw instance_id)
          echo "instance_id=$ID" >> $GITHUB_OUTPUT

  # configure-and-deploy:
  #   needs: [manage-infra, build-and-scan]
  #   if: github.ref == 'refs/heads/main'
  #   runs-on: ubuntu-latest
  #   env:
  #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #     AWS_DEFAULT_REGION: $AWS_REGION
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Install Ansible & AWS dependencies
  #       run: |
  #         pip install ansible boto3 botocore
  #         ansible-galaxy collection install community.aws amazon.aws
          
  #         # Install Session Manager Plugin
  #         curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
  #         sudo dpkg -i session-manager-plugin.deb

  #     - name: Create Inventory File
  #       run: |
  #         INSTANCE_ID="${{ needs.manage-infra.outputs.instance_id }}"
  #         echo "[webservers]" > inventory.ini
  #         echo "$INSTANCE_ID ansible_connection=community.aws.aws_ssm ansible_aws_ssm_region=${{ env.AWS_REGION }}" >> inventory.ini
  #         cat inventory.ini

  #     - name: Run Ansible Playbook
  #       run: |
  #         ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
  #         REGISTRY="$ACCOUNT_ID.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com"
          
  #         ansible-playbook -i inventory.ini ./ansible/deploy.yml \
  #           --extra-vars "ecr_registry=$REGISTRY backend_repo=${{ env.ECR_BACKEND_REPO }} backend_tag=latest"