name: CI/CD Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

env:
  NODE_ENV: test
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

jobs:
  test-app-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start services (Build & Run)
        env:
          AWS_DEFAULT_REGION: "us-east-1"
          AWS_ACCESS_KEY_ID: "testing"
          AWS_SECRET_ACCESS_KEY: "testing"
          AWS_COGNITO_USER_POOL_ID: "us-east-1_xxxx"
          AWS_COGNITO_USER_POOL_CLIENT_ID: "testing"
          CONNECTION_STRING: "postgresql://postgres:password@db:5432/cruddur"
          PROD_CONNECTION_STRING: "postgresql://postgres:password@db:5432/cruddur"
          FRONTEND_URL: "http://localhost:3000"
          BACKEND_URL: "http://localhost:4567"
          PG_DATABASE: "cruddur"
          PG_PASSWORD: "password"
        run: |
          docker compose up -d --build
          # We still keep a small sleep just to ensure the python container 
          # is actually running before we try to 'exec' into it.
          sleep 10
          docker compose ps

      - name: Run backend tests
        run: |
          docker compose exec -T backend-flask python -m pytest

      - name: Run frontend tests
        run: |
          docker compose exec -T -e CI=true frontend-react-js npm test -- --transformIgnorePatterns "node_modules/(?!axios)/"

      - name: Cleanup
        if: always()
        run: docker compose down -v

  manage-infra:
    needs: test-app-dev
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      
      TF_VAR_db_password: ${{ secrets.PG_PASSWORD }}
      TF_VAR_allowed_ip: ${{ secrets.ALLOWED_IP }}
      TF_VAR_ip_range: ${{ secrets.CIDRS }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.0" 

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Plan
        id: plan
        # This runs on PRs OR on the main branch
        run: terraform plan -no-color
        continue-on-error: true

      - name: Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1

      - name: Terraform Apply
        # Only run 'apply' if we are pushing to 'main'
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve